In [5]:
import numpy as np
import csv

In [6]:
data = []
with open('MER_T07_02A-2020-02-03.csv') as fs:
    file_reader = csv.reader(fs)
    for row in file_reader:
        data.append(row)

In [7]:
data = np.array(data)

# 1. Explore the important attributes like dimension,shape, data type etc, of the array formed

In [8]:
data.ndim

2

In [9]:
data.shape

(8217, 6)

In [10]:
type(data)

numpy.ndarray

In [11]:
data.dtype

dtype('<U80')

# 2.Print the data contained in the first 10 rows of the 4th column.

In [12]:
data[:10,3]

array(['Column_Order', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
      dtype='<U80')

# 3. Which row serves as the headers/titles for all the columns.

In [13]:
data[0]

array(['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'],
      dtype='<U80')

# 4. Print the data contained in column 2 and 3 from row 1 till row 20

In [14]:
data[:20,1:3]

array([['YYYYMM', 'Value'],
       ['194913', '135451.32'],
       ['195013', '154519.994'],
       ['195113', '185203.657'],
       ['195213', '195436.666'],
       ['195313', '218846.325'],
       ['195413', '239145.966'],
       ['195513', '301362.698'],
       ['195613', '338503.484'],
       ['195713', '346386.207'],
       ['195813', '344365.781'],
       ['195913', '378424.21'],
       ['196013', '403067.357'],
       ['196113', '421870.669'],
       ['196213', '450249.238'],
       ['196313', '493926.719'],
       ['196413', '526230.019'],
       ['196513', '570925.951'],
       ['196613', '613474.8'],
       ['196713', '630483.363']], dtype='<U80')

# 5.Print the data present in only the first three and the last three rows of all the columns in a
single output.

In [15]:
last = np.size(data,axis=0)

In [16]:
last

8217

In [17]:
data[:3]

array([['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'],
       ['CLETPUS', '194913', '135451.32', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ['CLETPUS', '195013', '154519.994', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours']], dtype='<U80')

In [18]:
data[-3:]

array([['ELETPUS', '201908', '401363.186', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201909', '359300.603', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201910', '321921.812', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours']], dtype='<U80')

# 6. Sort the data on the basis of net amount of electricity generated irrespective of the
source

In [19]:
sorted_data = data[data[:, 5].argsort()]

In [20]:
sorted_data

array([['HVETPUS', '199506', '30225.224', '7',
        'Electricity Net Generation From Conventional Hydroelectric Power, All Sectors',
        'Million Kilowatthours'],
       ['WSETPUS', '200402', '1223.129', '9',
        'Electricity Net Generation From Waste, All Sectors',
        'Million Kilowatthours'],
       ['WSETPUS', '200401', '1262.997', '9',
        'Electricity Net Generation From Waste, All Sectors',
        'Million Kilowatthours'],
       ...,
       ['NUETPUS', '198608', '37483.147', '5',
        'Electricity Net Generation From Nuclear Electric Power, All Sectors',
        'Million Kilowatthours'],
       ['NUETPUS', '199311', '46862.472', '5',
        'Electricity Net Generation From Nuclear Electric Power, All Sectors',
        'Million Kilowatthours'],
       ['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit']],
      dtype='<U80')

# Task 7: Find total electricity generated using coal and nuclear between 1949-1990

In [21]:
coal_mask = (data[:, 1] == 'Coal') & (data[1, 1].astype(int) >= 1949) & (data[1,1].astype(int) <= 1990)
nuclear_mask = (data[:, 1] == 'Nuclear') & (data[1,1].astype(int) >= 1949) & (data[1,1].astype(int) <= 1990)
total_electricity_coal = np.sum(data[coal_mask, 5].astype(float))
total_electricity_nuclear = np.sum(data[nuclear_mask, 5].astype(float))
print("Total electricity generated using coal between 1949-1990:", total_electricity_coal)
print("Total electricity generated using nuclear between 1949-1990:", total_electricity_nuclear)

Total electricity generated using coal between 1949-1990: 0.0
Total electricity generated using nuclear between 1949-1990: 0.0

In [22]:
data[:,0]

array(['MSN', 'CLETPUS', 'CLETPUS', ..., 'ELETPUS', 'ELETPUS', 'ELETPUS'],
      dtype='<U80')

In [23]:
data[:, 1].astype(int) >= 1949

ValueError: invalid literal for int() with base 10: 'YYYYMM'

In [24]:
data[:,1] == 'Nuclear'

array([False, False, False, ..., False, False, False])

# 8. Print all the unique sources of Energy generation present in the dataset.

In [25]:
data

array([['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'],
       ['CLETPUS', '194913', '135451.32', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ['CLETPUS', '195013', '154519.994', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ...,
       ['ELETPUS', '201908', '401363.186', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201909', '359300.603', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201910', '321921.812', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours']], dtype='<U80')

In [26]:
 np.unique(data[:,4])

array(['Description', 'Electricity Net Generation From Coal, All Sectors',
       'Electricity Net Generation From Conventional Hydroelectric Power, All Sectors',
       'Electricity Net Generation From Geothermal, All Sectors',
       'Electricity Net Generation From Hydroelectric Pumped Storage, All Sectors',
       'Electricity Net Generation From Natural Gas, All Sectors',
       'Electricity Net Generation From Nuclear Electric Power, All Sectors',
       'Electricity Net Generation From Other Gases, All Sectors',
       'Electricity Net Generation From Petroleum, All Sectors',
       'Electricity Net Generation From Solar, All Sectors',
       'Electricity Net Generation From Waste, All Sectors',
       'Electricity Net Generation From Wind, All Sectors',
       'Electricity Net Generation From Wood, All Sectors',
       'Electricity Net Generation Total (including from sources not shown), All Sectors'],
      dtype='<U80')

# 9. Print all the details(annual) where the energy source is Wind Energy. Use the concept of
masking to filter the data

In [27]:
data

array([['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'],
       ['CLETPUS', '194913', '135451.32', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ['CLETPUS', '195013', '154519.994', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ...,
       ['ELETPUS', '201908', '401363.186', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201909', '359300.603', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201910', '321921.812', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours']], dtype='<U80')

In [28]:
 data[data[:, 1] == 'Wind Energy']

array([], shape=(0, 6), dtype='<U80')

In [41]:
data_array = data

In [61]:
# 10

In [ ]:
total_energy_generated = np.sum(data_array[:, 4].astype(float))
print("Total energy generated in the USA:", total_energy_generated)

In [62]:
# 11

In [ ]:
wind_energy_generated = wind_data[:, 4].astype(float)
average_wind_energy = np.mean(wind_energy_generated)
std_dev_wind_energy = np.std(wind_energy_generated)
print("Average annual energy generated from wind:", average_wind_energy)
print("Standard deviation in wind energy generation:", std_dev_wind_energy)

In [63]:
# 12

In [ ]:
max_energy_index = np.argmax(data_array[:, 4].astype(float))
max_energy_year = data_array[max_energy_index, 0]
max_energy_value = data_array[max_energy_index, 4]
print("Maximum annual energy generated was", max_energy_value, "in the year", max_energy_year)

In [64]:
# 13

In [ ]:
current_year = 2023
last_10_years_data = data_array[data_array[:, 0].astype(int) >= current_year - 10]
total_energy_last_10_years = np.sum(last_10_years_data[:, 4].astype(float))
total_energy_previous_10_years = np.sum(data_array[data_array[:, 0].astype(int) < current_year - 10, 4].astype(float))
increase_in_energy = total_energy_last_10_years > total_energy_previous_10_years
print("Has energy production increased in the last 10 years?", increase_in_energy)

In [65]:
# 14

In [ ]:
years = data_array[:, 0].astype(int)
wind_energy_generated = data_array[data_array[:, 1] == 'WIND', 4].astype(float)
largest_contributor = unique_sources[np.argmax(np.sum(data_array[:, 4].astype(float), axis=0))]
print("Trend in energy generated from wind over the years:")
print(years, wind_energy_generated)
print("Largest contributor to annual electricity production:", largest_contributor)

In [58]:
# 15

In [ ]:
wind_energy = data_array[data_array[:, 1] == 'WIND', 4].astype(float)
solar_energy = data_array[data_array[:, 1] == 'SOLAR', 4].astype(float)
total_energy = data_array[:, 4].astype(float)

total_wind_contribution = np.sum(wind_energy) / np.sum(total_energy)
total_solar_contribution = np.sum(solar_energy) / np.sum(total_energy)
combined_wind_solar_contribution = (np.sum(wind_energy) + np.sum(solar_energy)) / np.sum(total_energy)

print("Contribution of Wind Energy to total energy generation:", total_wind_contribution)
print("Contribution of Solar Energy to total energy generation:", total_solar_contribution)
print("Combined contribution of Wind and Solar Energy to total energy generation:", combined_wind_solar_contribution)

In [56]:
# end